.color {
    border: solid black 1px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
};
#button-random-color {
    border: solid black 10px;
    /* nao esta funcionando */
};
#pixel-board {
    border: solid black 1px;
    width: 550px;
    height: 550px;
    display: inline-block;
};
.pixel {
    border: solid black 1px;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: inline-block;

}