.color {
  border: solid black 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-left: 10px;
}
div {
  border: solid black 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
  /* margin: 5px 35px 15px; */
  background-color: white;
  margin-bottom: -3px;
}
.selected {
  border: solid black 1px;
}
#clear-board {
    margin-left: 50px;
    border: solid black 1px;
}
#button-random-color {
    margin-top: 10px;
    margin-right: 30px;
    border: solid black 1px;
}
#board-size {
    border: solid black 1px;
    margin-left: 10px;
    margin-right: 10px;
}